---
 const personalImageAlt = "Amine picture"
---

<section class="flex flex-col md:flex-row gap-8 justify-center items-center">
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-yellow-400 [&>p>strong]:font-semibold text-pretty order-2 md:order-1"
  >
  <p>
    My name is <strong>Amine Balti</strong>, I began my journey 
    in programming as a <strong>Software Engineering student</strong>. 
  </p>
  <p>
    Although I don't have any job experience yet, I am passionately diving into the world of coding, 
    constantly learning, and challenging myself with new projects. 
  </p>
  <p>
    I am always eager to apply my knowledge in real-world scenarios and looking forward to starting 
    my professional journey in the tech industry.
  </p>
  

  <p>
    As a <strong>Software Engineering student at ESPRIT University</strong>, I have been 
    actively involved in various projects and internships that have allowed me to apply 
    my academic knowledge in practical scenarios.
  </p>
  
  <p>
    While I may not have formal job experience yet, I have gained valuable experience 
    through <strong>internships and hands-on university projects</strong>. These experiences 
    have helped me to understand the real-world applications of software development and 
    have fueled my passion for this field.
  </p>
  
  <p>
    My goal is to continually improve my skills and knowledge, and to contribute to the 
    tech industry with quality work. I am eager to start my professional journey and make 
    a positive impact.
  </p>
  
  </div>

  <img src="/me.jpg" class="rounded-full size-64 order-1 md:order-2" alt={personalImageAlt}/>

</section>
